/* GLOBAL STYLES*/

.wrapper {
	min-width: 850px;
	position:relative;
	height: 100%;
	width: 100%;
	padding:0;
	margin: 0;
}

.content {
	 height: 100%;
	 width: 1020px;
	position: relative;
	margin-right: auto;
	margin-left:auto;
	margin-top: 0;
	padding-top: 50px;
}

.wrapper {
	background: url('natural_paper.png');
}


/*@font-face {
    font-family: 'ZnikomitRegular';
    src: url('Znikomit-webfont.eot');
    src: url('Znikomit-webfont.eot?#iefix') format('embedded-opentype'),
         url('Znikomit-webfont.woff') format('woff'),
         url('Znikomit-webfont.ttf') format('truetype'),
         url('Znikomit-webfont.svg#ZnikomitRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}*/

/********************************** FONTS *********************************/
@font-face {
    font-family: 'NixieOneRegular';
    src: url('NixieOne-Regular-webfont.eot');
    src: url('NixieOne-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('NixieOne-Regular-webfont.woff') format('woff'),
         url('NixieOne-Regular-webfont.ttf') format('truetype'),
         url('NixieOne-Regular-webfont.svg#NixieOneRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1 {
	font-family: 'Abril Fatface';
	font-size: 59px;
	font-style: normal;
	font-weight: 400;
	margin: 0;
	padding-bottom: 20px;
	line-height: 46px;
}

h2 {
	padding: 0;
	margin: 0 0 10px 0;
	text-align: center;
	font-family: "Raleway";/*"NixieOneRegular";*/
	font-size: 33px;
	font-style: normal;
	font-weight: 200;
	text-transform: uppercase;
}

h3 {
	font-family: "Forum"; 
	font-style: normal;
	font-weight: 100;
	font-size: 22px;
	line-height: 24px;
	margin-top: 0;
	padding: 0;
}

h5 {
	font-family: "League Script";
	text-transform: lowercase;
	font-style: normal;
	font-size: 17px;
	padding-top: 0;
	padding-bottom: 20px;
	margin:0;
}

.updates p {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 100;
	line-height: 20px;
	padding-bottom:;
}

/********************************* NAVIGATION ********************************/

#nav {
	width: 150px;
	float:left;
	margin: 0; /*25px;*/
	height: 100%;
/*	display: block;*/
}

#nav ul {
	/*display: block;*/
	padding: 0 0 0 0;
	transform:rotate(-90deg);
	-webkit-transform:rotate(-90deg);
	   -moz-transform:rotate(-90deg);
	     -o-transform:rotate(-90deg);
	    -ms-transform:rotate(-90deg);
	    width: 100%;
	    margin-left: auto;
	    margin-right: auto;
		position: relative;
		text-align: right;
}

#nav ul li {
	padding: 0 0 10px 0;
	margin: 0;
	list-style: none;
	width: 100%;
	font-family: "Raleway";
	letter-spacing: 0.3em;
	font-weight: 300;
	font-size: 23px;
	text-transform: uppercase;
}

#nav ul li:last-child {
	padding: 0;
	margin:0;
}

#nav img {
	width: 150px;
	height: 150px;
	padding: 0;
	margin: 0 0 10px 0;
}
/******************************* GLOBAL POST *****************************/

.updates li {
	width: 620px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0;
	list-style-type: none;
	padding-bottom: 0;
}

hr {
	margin: 25px 0;
}

/********************************* PHOTO *********************************/

.post_photo img {
	padding: 0 0 15px 0;
}

/********************************* LINK **********************************/

.post_link a {
	text-decoration: none; 
}

/********************************* CHAT ***********************************/

.post_chat li {
	display:inline;
	padding: 0;
	margin:0;
	width: 100%;
	text-indent: 0;
}

.post_chat ul {
	padding: 0;
}

.post_chat li span { 
	/* Make chat ID's match <h3> style */
	font-family: "Forum"; 
	font-style: normal;
	font-weight: 100;
	font-size: 22px;
	line-height: 20px;
	margin-top: 0;
	padding: 0;
}

/***************************** PHOTOSET ************************************/

.post_photoset img {
	width: 186px;
	float: left;
	padding: 10px;
}

.post_photoset img:last-child {
	padding-bottom: 20px;
}

.post_photoset hr {
	clear:both;
}

#photoset {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 20px;
}

/**************************** VIDEO ********************************/

#video {
	margin-right: auto;
	margin-left: auto;
}

/***************************** FOOTER ******************************/
.footer {
	padding: 0;
	margin: 0 0 0 50px;
}